<!DOCTYPE html>
  <head>
    <title>Time</title>
      <link rel="stylesheet" href='stylesheets/clock.css' />
  </head>
  <body>
    <div class="alarm" id="timer">00</div>
  </body>
  <script src='javascripts/script.js' ></script>
  </html>
                